html {
    background-color: rgba(11,14,58,1);
    overflow: hidden;
}

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #F4F6F0;
    margin-bottom: 50px;
}

.sphere {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.hemisphere {
    width: 50%;
    height: 100%;
}

.light {
    background-color: #F4F6F0;
}

.dark {
    background-color: #575851;
}

.divider,
.divider:after {
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.divider {
    background-color: #575851;
}

.divider:after {
    content: '';
    background-color: #F4F6F0;
    transform: rotateY(180deg);
}
