
html,* { 
	font-family: 'Merriweather';    
	text-align: center;
    	align-items: center;
    	justify-content: center;
}

body { margin: 0px; background-color: #301A73;}
	b {opacity:.6; font-size: 10px;}
	strong {opacity:.2; font-size: 10px;}
	.container, #prayy { background-image: url("tree.png"); margin: 0px; max-width: 600px; width: 600px; height: 3840px; max-height: 3840px; min-height: 3840px; text-align: center; position:absolute;}
	.hijridate { position:absolute; top: 768px; width:100%; color: white; font-size: 50px; text-align: center;}
	.prayertimes { position:absolute; top: 836px; width:100%; color: black; font-size: 15px; text-align: center;}
	.Maghrib {background-color: #C94343;}
	.Isha {background-color: #301A73; color: white;}
	.midnight{background-color: #221F53; color: white;  align: center; height:100%;}
	.fajr{background-color: #633463; color: white; align: center; height:100%;}
	.Sunrise{background-color: #D6B981; color: white;  align: center; height:100%;}
	.Dhuhr{color: white;  align: center;}
	.asr{background-color: #C68C56; color: white;  align: center;}


h1 {
    color: #F4F6F0;
    margin: 0px;
visibility: hidden;
}

.sphere {
	opacity:.7;
position: absolute;
 top: 870px;
 left: 275px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    margin: 0px;
}

.hemisphere {
    width: 50%;
    height: 100%;
}

.light {
    background-color: #F4F6F0;
}

.dark {
    background-color: #575851;
}

.divider,
.divider:after {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.divider {
    background-color: #575851;
}

.divider:after {
    content: '';
    background-color: #F4F6F0;
    transform: rotateY(180deg);
}

#date-title, input {visibility: hidden;}
